@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
    font-family: "Madimi One", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #FFECCA;
}
header {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
}
.divider {
    color: #472D30;
    background-color :#472D30;
    height: 2px;
}
main {
    display: flex;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-family: "Madimi One", sans-serif;
    color: #E26D5C;
    font-size: 3rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
h2 {
    color: #723D46;
    margin-bottom: 0.5rem;
    justify-content: center;
}
h3 {
    margin-bottom: 0rem;
    width: 60vw;
    align-items: center;
    text-align: center; /* Center align text */
    font-size: 1.3rem;
    text-decoration: underline;
}
p {
    margin-bottom: 1rem;
    width: 60vw;
    align-items: center;
    text-align: center; /* Center align text */
    font-size: 1.2rem;
}
table {
    border-collapse: collapse;
    width: 60vw;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    width: 30vw;
  }
ul {
    display: flex;
    list-style-type: disc; /* Set the list style to disc, which creates bulleted lists */
    list-style-position: outside;
    padding-left: 1.5rem; 
    width: 60vw;
    font-size: 1.2rem;
    flex-direction: column;
}
a {
    color: #809376;
    font-size: 1.25rem;
}
.italic {
    font-style: italic; /* Apply italic style to elements with the class "italic" */
}
.bold {
    font-weight: bold;
}
.color {
    font-weight: bold;
    color: #723D46;
    letter-spacing: 0.5px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
}
.screenshot {
    width: 50vw;
}
li {
    margin-bottom: 0.5rem;
}